// Mixins Here

.flex(@justify: center, @align: center, @direction: none) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}

.buttons() {
    padding: 2% 5%;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background-color: @button-bg-color;
    color: @button-font-color;
}

.headerFonts() {
    color: @header-font-color;
}

.mainFonts() {
    color: @main-font-color;
}

